In [15]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

In [73]:
data_path = "../data/raw/bank_customer_churn_prediction.csv"
df = pd.read_csv(data_path)

In [74]:
df.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [75]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

In [76]:
df = pd.get_dummies(data=df, columns=["gender"])

In [77]:
df.columns

Index(['customer_id', 'credit_score', 'country', 'age', 'tenure', 'balance',
       'products_number', 'credit_card', 'active_member', 'estimated_salary',
       'churn', 'gender_Female', 'gender_Male'],
      dtype='object')

In [78]:
features = ['balance', 'products_number', 'credit_card', 'tenure', 'age', 'gender_Female', 'gender_Male', 'credit_score']

In [79]:
df.head()

,customer_id,credit_score,country,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn,gender_Female,gender_Male
0,15634602,619,France,42,2,0.00,1,1,1,101348.88,1,1,0
1,15647311,608,Spain,41,1,83807.86,1,0,1,112542.58,0,1,0
2,15619304,502,France,42,8,159660.80,3,1,0,113931.57,1,1,0
3,15701354,699,France,39,1,0.00,2,0,0,93826.63,0,1,0
4,15737888,850,Spain,43,2,125510.82,1,1,1,79084.10,0,1,0

In [80]:
label = "churn"
x_train, x_test, y_train, y_test = train_test_split(df[features], 
                                                    df[label],
                                                    test_size=0.25, random_state=1)

In [86]:
x_train.isnull().sum()

balance            0
products_number    0
credit_card        0
tenure             0
age                0
gender_Female      0
gender_Male        0
credit_score       0
dtype: int64

In [87]:
numeric_columns = features
numeric_imputer = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value = 0)
preprocessor = ColumnTransformer(
    transformers = [("num", numeric_imputer, numeric_columns)]
)

pipeline = Pipeline([
    ('preprocessing',preprocessor),
    ('classifier',RandomForestClassifier())
    ])

# training random forest classifier
pipeline.fit(x_train[features], y_train)

# getting predictions
predictions = pipeline.predict(x_test)

print(predictions)

[0 0 0 ... 0 0 1]

In [88]:
predictions

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [90]:
df.isnull().sum()

customer_id         0
credit_score        0
country             0
age                 0
tenure              0
balance             0
products_number     0
credit_card         0
active_member       0
estimated_salary    0
churn               0
gender_Female       0
gender_Male         0
dtype: int64