# Exploratory Data Analysis.

## Understanding the Dataset
### 1. Dataset Description

The dataset contains information about customers from a bank and is designed to help predict customer churn, which occurs when customers close their accounts and stop doing business with the bank. This dataset was collected to analyze patterns in customer behavior and to identify factors that contribute to churn.

### 2. Problem Definition.

The goal of this analysis is to predict whether a customer will churn (i.e., close their account) based on various factors such as their credit score, account balance, and tenure with the bank. This will help the bank take preventive actions to retain at-risk customers.

### 3. Target Variable

The target variable is churn, a binary variable where 1 indicates that the customer has churned and 0 indicates they are still an active customer. The task is to predict whether a customer will churn based on the other features.

In [2]:
import pandas as pd

In [3]:
data_path = "../data/raw/bank_customer_churn_prediction.csv"
df = pd.read_csv(data_path)

In [4]:
df.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0